.projectItemContainer{
    display: flex;
    margin: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    

    .titleBro{
        @media screen and (max-width: 500px) {
            // font-size: 1.3rem;
            margin: 2rem;
            margin-bottom: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }

    .mainContainerItem{
        display: flex;
        width: 100%;
        margin: 2rem;
        height: 100%;
        justify-content: space-evenly;   

        @media screen and (max-width: 1200px){
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 2rem;
        }
    }

        @media screen and (max-width: 900px){
            text-align: center;
            align-items: center;
            margin: 0rem;
        }

    .imageContainerItem{
        width: 650px;
        height: 450px;
        
        justify-content: center;
        text-align: center;
        align-items: center;

        background-repeat: no-repeat;
        object-fit: cover;
        
        img{
            width: 100%;
            height: 100%;

            // @media screen and (max-width: 1000px) {
            //     // width: 100%;
            //     // height: 70%;
            //     // width: 500px;
            //     // height: 450px;
            //     width: 550px;
            //     height: 450px;
            // }
            @media screen and (max-width: 900px){
                text-align: center;
                align-items: center;

                // margin: 1rem;
                padding: 0.5rem;
            }

            
            // @media screen and (max-width: 850px) {
                // }
            }
            @media screen and (max-width: 900px){
                text-align: center;
                align-items: center;
                
                // margin: 1rem;
                padding: 0.5rem;
            }
            
            @media screen and (max-width: 600px){
                img {
                    width: 500px;
                    height: 350px;
                    text-align: center;
                    align-items: center;
                }
            }
        @media screen and (max-width: 600px){
            width: 100%;
            height: 50%;
            margin: 0rem;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-right: 6rem;
        }
    }

}

.description{
    width: 35vw;
    height: 40vh;

    margin: 6rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;

    border-radius: 15px;
    &:hover{
        box-shadow: 0 0 25px #a7c7cf;
    }
    color: var(--brown-color);


    @media screen and (max-width: 1000px) {
        font-size: 2rem;
        padding: 2rem;
    }

    @media screen and (max-width: 850px) {
        // width: 70%;
        // height: 70%;
        // width: 500px;
        // height: 350px;
        margin: 0rem;
        padding: 0.7rem;
    }
    @media screen and (max-width: 650px) {
        width: 90%;
        height: 100%;
        // width: 400px;
        // height: 250px;
        font-size: 1rem;
        margin: 0rem;
        padding: 1rem;
    }
}

// .projectItemContainer{
//     display: flex;
//     margin: 3rem;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     align-items: center;
//     flex-direction: column;
    

//     .titleBro{
//         @media screen and (max-width: 500px) {
//             // font-size: 1.3rem;
//             margin: 2rem;
//             margin-bottom: 0;
//             text-align: center;
//             justify-content: center;
//             align-items: center;
//         }
//     }

//     .mainContainerItem{
//         display: flex;
//         width: 100%;
//         margin: 2rem;
//         height: 100%;
//         justify-content: space-evenly;   
        
//         @media screen and (max-width: 1200px){
//             flex-direction: column;
//             justify-content: center;
//             text-align: center;
//             align-items: center;
//             margin: 2rem;
//         }
//     }

//         @media screen and (max-width: 900px){
//             text-align: center;
//             align-items: center;
//             margin: 0rem;
//         }

//     .imageContainerItem{
//         width: 650px;
//         height: 450px;
        
//         justify-content: center;
//         text-align: center;
//         align-items: center;

//         background-repeat: no-repeat;
//         object-fit: cover;
        
//         img{
//             width: 100%;
//             height: 100%;

//             @media screen and (max-width: 1000px) {
//                 // width: 100%;
//                 // height: 70%;
//                 // width: 500px;
//                 // height: 450px;
//                 width: 550px;
//                 height: 450px;
//             }
//             @media screen and (max-width: 900px){
//                 text-align: center;
//                 align-items: center;

//                 // margin: 1rem;
//                 padding: 0.5rem;
//             }

            
//             // @media screen and (max-width: 850px) {
//                 // }
//             }
//             @media screen and (max-width: 900px){
//                 img {
//                     width: 500px;
//                     height: 350px;
//                     margin: 0;
//                     text-align: center;
//                     align-items: center;
    
//                     // margin: 1rem;
//                     padding: 0.5rem;
//                 }
//             }
        
//     }

// }

// .description{
//     width: 35vw;
//     height: 40vh;

//     margin: 6rem;
//     font-size: 2.2rem;

//     border-radius: 15px;
//     &:hover{
//         box-shadow: 0 0 25px #a7c7cf;
//     }
//     color: var(--brown-color);


//     @media screen and (max-width: 1000px) {
//         font-size: 2rem;
//         padding: 2rem;
//     }

//     @media screen and (max-width: 850px) {
//         // width: 70%;
//         // height: 70%;
//         // width: 500px;
//         // height: 350px;
//         margin: 0rem;
//         padding: 0.7rem;
//     }
//     @media screen and (max-width: 650px) {
//         width: 90%;
//         height: 100%;
//         // width: 400px;
//         // height: 250px;
//         font-size: 1rem;
//         margin: 0rem;
//         padding: 1rem;
//     }
// }