.app__about{
    display: flex;
    width: 95vw;
    height: 90vh;
    
    justify-content: space-evenly;
    margin: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 828px) {
        margin: 0.6rem;
        // flex-direction: column;
        // flex-direction: column;
        // background-color: red;
    }

    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40%;
        height: 70%;
        // background-color: red;
        margin: 2rem;
        
        .textCard{
            font-size: 1.7rem;
            padding: 1rem;
            // background-color: aqua;
            margin: 2rem;
            border-radius: 15px;

            &:hover{
                // transform: scale(1.01);
                box-shadow: 0 0 25px #a7c7cf;
            }
        }

        @media screen and (max-width: 828px){
            width: 35vh;
            margin: 0.3rem;    
            p{
                font-size: 1.3rem;
            }
            // flex-direction: row;
            flex-direction: column;
            // background-color: red;
        }

    }
    
    .skillsContainer{
        width: 45%;
        height: 95%;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        p{
            font-size: 2rem;
            color: var(--brown-color);
            &:hover{
                color: #000000;
            }

            @media screen and (max-width: 600px){
                margin: 1rem;
                margin-top: 4rem;
            }
        }

        .skillsContainerImage{
            width: 90%;
            height: 90%;
            // color: pink;
            margin: 1rem;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: 828px) {
            // flex-direction: row;
            flex-direction: column;
            margin: 3rem;

            // background-color: red;
        }
    }
}


.aboutSkill{
    margin: 0.6rem;
    // background-color: red;
    width: 120px;
    height: 120px;
    overflow: hidden;

    .aboutSkillItem{
        width: 100%;
        height: 100%;

        &:hover{
            transform: scale(1.1);
        }
    }
}