.app__contact{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__contact-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 4rem 2rem 2rem;

    .app__contact-card{
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        align-items: center;

        margin: 1rem 2rem;

        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: #fef4f5;

        transition: all 0.3s ease-in-out;

        img{
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;
        }

        p{
            font-weight: 600;
        }

        a{
            text-decoration: none;
            font-weight: 500;
        }

        &:hover{
            box-shadow: 0 0 25px #a7c7cf;
        }

        @media screen and (max-width: 450px){
            width: 100%;
        }
    }
    
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.app__contact-cards .app__contact-card:last-child{
    background-color: #f2f7fb;
}

.app__contact-form{
    width: 60%;   
        //  width: 100%;
        // height: 50vh;
    flex-direction: column;
    margin: 1rem 22rem;
    
    
    div{
        width: 100%;
        margin: 0.75rem 0;
        margin-left: 5rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);

        transition: all 0.3s ease-in-out;

        input, textarea{
            width: 97%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: var(--primary-color);

            font-family: var(--font-base);
            color: var(--secondary-color);
            outline: none;
            
            &:hover{
                box-shadow: 0 0 25px #a7c7cf;
            }

        }

        textarea{
            height: 170px;
            
        }
    }

    button{
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: var(--secondary-color);
        font-weight: 500;
        color: var(--white-color);
        outline: none;
        
        margin-top: 2rem;
        font-family: var(--base-font);
        cursor: pointer;
    }

    @media screen and (max-width: 1600px) {
        margin-left: 17rem;
    }
    
    @media screen and (max-width: 1200px){
        width: 80%;
        // margin: 2rem;
        margin-left: 4rem;
    }

    @media screen and (max-width: 768px){
        width: 100%;
        height: 50vh;
        margin: 1rem 0;
    }
}
