.headerContainer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-right: 5vw;    
    margin-top: 1vw;    


    ul{
        li{
            display: inline;
            line-height: 1.7em;
            font-size: 1.7em;
            margin-left: 1.5rem;
            color: #01bdae;
        }
        
        li:hover{
            color: black;
            font-size: 2rem;
            transition: 0.3s ease-in-out;
            
            @media screen and (max-width: 500px){
                font-size: 1.7rem;
            }
        }

        .centerBro{
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }


    @media screen and (max-width: 500px) {
        font-size: 0.8rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
        margin: 0rem;
    }
}

